# Find out more about tasks: http://docs.devo.ps/manual/tasks

id: build-laravel
name: Build Laravel app
type: task

targets:
  - laravel

vars:
  workdir: /var/www/laravel
  repo: {{ git_url }}

steps:
  - run: devops git update
    options:
      repo: '{{ repo }}'
      dest: '{{ workdir }}'

  - run: devops scripts/build-laravel.sh
    options:
      # Those options are available within the script as ENV variables
      DB: laravel
      USER: laravel
      PASS: '{{ nodes.laravel.configuration.mysql.users.laravel.password }}'
      WORKDIR: '{{ workdir }}'
      RUN_USER: '{{ nodes.laravel.configuration.php.fpm.pool.user }}'
